fastapi
uvicorn[standard]
transformers
torch
sentencepiece
rouge-score
scikit-learn
goose3
#spacy==3.5.3
spacy>=3.0.0,<4.0.0
https://github.com/explosion/spacy-models/releases/download/pt_core_news_sm-3.5.0/pt_core_news_sm-3.5.0-py3-none-any.whl